# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# SQLite DB
*.db
*.sqlite3

# Virtual Environment
.venv/
venv/

# Environment Variables
.env
backend/.env
frontend/.env

# Uploaded resumes
backend/uploads/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db